---
import Section from "../Section.astro";
---
<Section id="contacto" className="max-w-screen-sm mt-8 mb-12">
    <h2 class="text-2xl font-bold text-primary mb-4">Contáctanos</h2>
    <form class="flex flex-col space-y-4">
        <input type="text" placeholder="Nombre" class="border border-gray-300 rounded p-2"/>
        <input type="email" placeholder="Email" class="border border-gray-300 rounded p-2"/>
        <textarea placeholder="Mensaje" class="border border-gray-300 rounded p-2"></textarea>
        <button type="submit" class="bg-primary text-white font-bold py-2 px-4 rounded hover:bg-primary/80">Enviar
        </button>
    </form>
</Section>