---
---
<footer class="w-full p-4 bg-fontcolor text-white flex flex-col md:flex-row items-center justify-between mt-auto">
    <p class="text-sm">© 2024 Mi Comercio Local</p>
    <div class="flex space-x-4 mt-2 md:mt-0">
        <a href="https://facebook.com" class="hover:underline flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor">
                <path d="M...FILL THIS WITH FACEBOOK ICON PATH..."/>
            </svg>
            <span>Facebook</span>
        </a>
        <a href="https://instagram.com" class="hover:underline flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor">
                <path d="M...INSTAGRAM ICON PATH..."/>
            </svg>
            <span>Instagram</span>
        </a>
        <a href="https://twitter.com" class="hover:underline flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor">
                <path d="M...TWITTER ICON PATH..."/>
            </svg>
            <span>Twitter</span>
        </a>
    </div>
</footer>