---
import Section from "../Section.astro";
---
<Section id="hero" className={"flex-col md:flex md:flex-row"}>
    <div class="mb-6 md:mb-0 md:mr-8 content-center">
        <h2 class="text-3xl md:text-5xl font-bold text-primary">Bienvenido a tu tienda local</h2>
        <p class="mt-4 text-gray-700">Ofrecemos productos de calidad y atención personalizada.</p>
        <a href="#contacto"
           class="inline-block mt-6 px-6 py-3 bg-primary text-white font-medium rounded hover:bg-primary/80">Contáctanos</a>
    </div>
    <img src="/images/tienda-interior.webp" alt="Imagen representativa" class="w-full md:w-1/2 rounded"/>
</Section>